<div class="mt-4">
  {{!-method : phương thức của form khi submit , action : submit qua trang khác với phương thức vừa gọi --}}
{{!-- GET method là phương thức nhận dũ liệu từ máy chủ về clients --}}
{{!-- GET lấy dữ liệu đính lên url  --}}
{{!-- POST  --}}
{{!-- POST method là phương thức gửi gửi dữ liệu lên server--}}
{{!-- action  --}}
    <form method="POST" action="" >
  <div class="form-group">
    <label for="search-input">Nhap tu khoa</label>
    <input type="input" name="q" id="search-input" class="form-control" >
  </div>
   <div class="form-group">
    <select name="gender-input" id="">
      <option value="">Chon gioi tinh</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option>
    </select>
      
  </div>
  <button type="submit" class="btn btn-primary">Tim Kiem</button>
</form>
</div>
